{% extends 'apps/base.html' %}

{% block title %}
Attendee Statistics
{% endblock %}

{% block content %}
<div class="container">
    <h1>Attendee Statistics</h1>
    <p>
        <div class="float-right">
          <a href="/attendees"><i class="fas fa-list"></i>&nbsp;List&nbsp;</a>
        </div>
    </p>
    <hr/>
    <h3>By Organization</h3>
    <table>
        <tr>
            <td width="75%">
                <table class="table table-bordered">
                    <tr>
                        <th>Organization</th>
                        <th>Number of Attendees</th>
                    </tr>
                    {% for org, num_attendees in attendees_by_org %}
                    <tr>
                        <td>{{ org }}</td>
                        <td>{{ num_attendees }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th>Total</th>
                        <th>{{ attendees_by_org_total }}</th>
                    </tr>
                </table>
            </td>
            <td width="25%">
                <div style="width:600;height:500">
                    {{ attendees_by_org_pie|safe }}
                </div>
            </td>
        </tr>
    </table>
    <h3>By Timezone</h3>
    <table>
        <tr>
            <td width="75%">
                <table class="table table-bordered">
                    <tr>
                        <th>Timezone</th>
                        <th>Number of Attendees</th>
                    </tr>
                    {% for timezone, num_attendees in attendees_by_tz %}
                    <tr>
                        <td>{{ timezone }}</td>
                        <td>{{ num_attendees }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th>Total</th>
                        <th>{{ attendees_by_tz_total }}</th>
                    </tr>
                </table>
            </td>
            <td width="25%">
                <div style="width:600;height:500">
                    {{ attendees_by_tz_pie|safe }}
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
