{% extends 'apps/base.html' %}

{% block title %}
Dashboard for {{ logged_in_user }}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Dashboard for {{ logged_in_user }}</h1>
    <hr/>
    <h3>Useful Links</h3>
    <ul>
        <li><a href="/attendee/profile">Update my profile information</a></li>
        <li>Who else is going? (<a href="/attendees">attendee list</a>&nbsp;|&nbsp;<a href="/attendee/stats">attendee summary</a>)</li>
        {% if current_event >= 10 %}
            {% if current_event < 20 %}
            <li><a href="/paper/new">Submit an abstract for your presentation</a></li>
            {% endif %}
            <li><a href="/paper/stats">Abstract Submission Statisics</a></li>
        {% endif %}
        {% if has_accepted_papers %}
            {% if current_event >= 20 %}
                {% if current_event < 50 %}
                <li><a href="/attendee/speaker/update">Update Speaker Bio</a></li>
                {% else %}
                <li><a href="/attendee/speaker/{{ logged_in_user.id }}">Update Speaker Bio</a></li>
                {% endif %}
            {% endif %}
        {% endif %}
    </ul>

    {% if has_submitted_papers and current_event >= 10 %}
    <h3>Submitted papers</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Paper Type</th>
                <th>Title / Abstract / Keywords</th>
                <th>Author(s)</th>
                <th>Accepted?</th>
                <th>Confirmed?</th>
            </tr>
        </thead>
        {% for paper in my_submitted_papers %}
            <tr>
                <td>{{ paper.paper_type }}</td>
                <td>
                    {% if current_event < 20 %}
                    <b><a href="/paper/{{ paper.id }}/update">{{ paper.title }}</a></b>
                    {% else %}
                    <b><a href="/paper/{{ paper.id }}">{{ paper.title }}</a></b>
                    {% endif %}
                    <p>{{ paper.abstract }}</p>
                    <p>
                        <B>Themes</B>
                        <ul>
                        {% for theme in paper.themes.all %}
                            <li>{{ theme }}</li>
                        {% endfor %}
                        </ul>
                    </p>
                    <p><b>Keywords: </b>{{ paper.keywords }}</p>
                </td>
                <td>
                    {{ paper.primary_author }}
                    {% if paper.coauthors %}
                    , {{ paper.coauthors }}
                    {% endif %}
                </td>
                <td>
                    {% if current_event < 30 %}
                    <span style="color: black;"><i class="fas fa-lock"></i></span>
                    {% else %}
                        {% if paper.is_accepted %}
                        <span style="color: green;"><i class="fas fa-check"></i></span>
                        {% else %}
                        <span style="color: red;"><i class="fas fa-times"></i></span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if current_event < 30 %}
                    <span style="color: black;"><i class="fas fa-lock"></i></span>
                    {% else %}
                        {% if paper.is_accepted %}
                            {% if not paper.accept_speaker_invite %}
                                {% if current_event < 50 %}
                                <a><a href="/paper/{{ paper.id }}/accept">Confirm</a>
                                {% else %}
                                <span style="color: black;"><i class="fas fa-lock"></i></span>
                                {% endif %}
                            {% else %}
                            <span style="color: green;"><i class="fas fa-check"></i></span>
                            {% endif %}
                        {% else %}
                        <span style="color: black;"><i class="fas fa-lock"></i></span>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tbody>
    </table>
    {% endif %}

    {% if my_review_tasks %}
        <h3>Papers to Review</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Paper</th>
                    <th>Reviewed?</th>
                </tr>
            </thead>
            <tbody>
            {% for paper, is_reviewed in my_review_tasks %}
                <tr>
                    {% if is_reviewed %}
                    <td>
                        <a href="/review/{{ paper.id }}/update">{{ paper.title }} ({{ paper.paper_type }})</a>
                    </td>
                    <td>
                        <span style="color: green;"><i class="fas fa-check"></i></span>
                    </td>
                    {% else %}
                    <td>
                        <a href="/review/{{ paper.id }}/new">{{ paper.title }} ({{ paper.paper_type }})</a>
                    </td>
                    <td>
                        <span style="color: red;"><i class="fas fa-times"></i></span>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}    
            </tbody>
        </table>
    {% endif %}

    {% if logged_in_user.is_organizer %}
    <h3>Organizer Links</h3>
    <ul>
        <li><a href="/papers">Submitted Papers</a></li>
        <li><a href="/papers/accepted">Accepted Papers</a></li>
    </ul>
    {% endif %}

</div>
{% endblock %}
