{% extends 'apps/base.html' %}

{% block title %}
Sherpa Index Page
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello, world! <i class="fas fa-globe-americas"></i></h1>
        <p class="lead">Sherpa helps you succeed with your (Search) Summit Expedition!</p>
        <hr class="my-4">
        <p>
            Sherpa takes care of some of the dynamic aspects for the Search Summit 2021 Sharepoint site.
            This page is meant for Summit organizers only, mainly as a convenient source of links to 
            use in the Sharepoint site and Confluence pages.
        </p>
        <a class="btn btn-primary btn-lg" href="https://github.com/sujitpal/sherpa" role="button">Learn more</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Login Required</h5>
                    <p class="card-text">Following pages need the user to be logged in. Will automatically redirect to login page if not logged in,
                        and for all but the Admin page, will provide a view customized / restricted to the logged-in user.</p>
                    <ul>
                        <li><a href="/admin">Admin</a> -- admin only</li>
                        <li><a href="/attendee/profile">Profile update</a> -- user</li>
                        <li><a href="/attendee/speaker/update">Speaker Bio</a> -- user</li>
                        <li><a href="/paper/new">Add a Paper</a> -- user, organizer</li>
                        <li><a href="/paper/1">View Paper -- user, organizer</a></li>
                        <li><a href="/paper/1/update">Update Paper</a> -- user, organizer</li>
                        <li><a href="/paper/1/delete">Delete Paper</a> -- user, organizer</li>
                        <li><a href="/papers">All Papers (includes update/delete)</a> -- organizer</li>
                        <li><a href="/review/new">Add a Review -- reviewer, organizer</a></li>
                        <li><a href="/review/1">View Review -- reviewer, organizer</a></li>
                        <li><a href="/review/1/update">Update Review -- reviewer, organizer</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">No Login Required</h5>
                    <p class="card-text">These pages don't require login and can be linked to directly using their URLs.</p>
                    <ul>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/signin">Sign In</a></li>
                        <li><a href="/password_reset">Forgot Password</a></li>
                        <li><a href="/signout">Sign Out</a></li>
                    </ul>
                    <hr/>
                    <ul>
                        <li><a href="/attendees">Attendees List</a></li>
                        <li><a href="/attendee/speaker/2">Speaker Bio View</a></li>
                        <li><a href="/submissions">Paper Submission Stats</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
