{% extends 'apps/base.html' %}

{% block title %}Update Paper{% endblock %}

{% block content %}
<h3>Update Paper</h3>
<form method="POST" enctype="multipart/form-data">   
    {% csrf_token %} 

    {% for field in paper_form %}
    <p>
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
            <small style='color:gray;'>{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
            <small style='color:red;'>{{ field.help_text }}</small>
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" class="btn btn-success">Update!</button>
</form> 
{% endblock %}