{% extends 'apps/base.html' %}

{% block title %}Papers List{% endblock %}

{% block content %}
<h3>Submitted Papers (total {{ num_papers }})</h3>

<p>
  <div class="float-right">
    <a href="/paper/stats"><i class="fas fa-chart-bar"></i>&nbsp;Summary&nbsp;</a>
  </div>
</p>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Submitted</th>
        <th>Paper Type</th>
        <th>Primary Author</th>
        <th>Title/Abstract/Keywords</th>
        <th>Edit?</th>
      </tr>
    </thead>
    <tbody>
    {% for paper in papers %}
        <tr>
            <td>{{ paper.submitted_at|date:'Y-m-d' }}</td>
            <td>{{ paper.paper_type }}</td>
            <td>
              {{ paper.primary_author }}
              {% for co_author in paper.co_authors.all %}
                , {{ co_author }}
              {% endfor %}
            </td>
            <td><a href="/paper/{{ paper.id }}">{{ paper.title}}</a></td>
            <td><a href="/paper/{{ paper.id }}/update"><span style="color:black;"><i class="fas fa-edit" aria-hidden="true"></i></span></a></td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
  
  {% if papers.has_other_pages %}
    <ul class="pagination">
      {% if papers.has_previous %}
        <li><a href="?page={{ papers.previous_page_number }}"><i class="fas fa-arrow-alt-circle-left"></i></a></li>
      {% else %}
        <li class="disabled"><span><i class="fas fa-arrow-alt-circle-left"></i></span></li>
      {% endif %}
      {% for i in papers.paginator.page_range %}
        &nbsp;
        {% if papers.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        &nbsp;
      {% endfor %}
      {% if attendees.has_next %}
        <li><a href="?page={{ papers.next_page_number }}"><i class="fas fa-arrow-alt-circle-right"></i></a></li>
      {% else %}
        <li class="disabled"><span><i class="fas fa-arrow-alt-circle-right"></i></span></li>
      {% endif %}
    </ul>
  {% endif %}
  
{% endblock %}