{% extends 'apps/base.html' %}

{% block title %}Update Paper{% endblock %}

{% block content %}
<h3>Update Paper</h3>
<form method="POST" enctype="multipart/form-data">   
    {% csrf_token %} 
    <table>
        {% for field in paper_form %}
            <tr valign="top">
                <td><b>{{ field.label_tag }}</b></td>
                <td>{{ field }}</td>
                <td>
                    {% if field.help_text %}
                        <small style='color:gray;'>{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <small style='color:red;'>{{ error }}</small>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <button type="submit" class="btn btn-success">Update</button>
    <a href="/paper/{{ paper_id }}/delete""><button type="button" class="btn btn-danger">Delete</button></a>
</form>
{% endblock %}