{% extends 'apps/base.html' %}

{% block title %}Paper Details{% endblock %}

{% block content %}
<h3>Paper Details</h3>
<table>
    <tr valign="top">
        <td><b>Paper-Type:</b></td>
        <td>{{ paper.paper_type }}</td>
    </tr>
    <tr valign="top">
        <td><b>Title:</b></td>
        <td>{{ paper.title }}</td>
    </tr>
    <tr valign="top">
        <td><b>Abstract:</b></td>
        <td>{{ paper.abstract }}</td>
    </tr>
    <tr valign="top">
        <td><b>Keywords:</b></td>
        <td>{{ paper.keywords }}</td>
    </tr>
    <tr valign="top">
        <td><b>Authors:</b></td>
        <td>
            {{ paper_author }}
            {% if paper_coauthors %}, {{ paper_coauthors }}{% endif %}
        </td>
    </tr>
</table>
{% endblock %}