{% extends 'apps/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block navigation %}
<a class="navbar-brand" href="https://reedelsevier.sharepoint.com/sites/SearchSummit">Search Summit 2021</a>
{% endblock %}

{% block content %}
<div class="container">
    <h4>Sign Up</h4>
    <form method="POST" class="form-group">
        {% csrf_token %}
        {% for field in register_form %}
            <p>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small style='color:gray;'>{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <small style='color:red;'>{{ field.help_text }}</small>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit" class="btn btn-success">Register</button>
    </form>
</div>
{% endblock %} 
