{% extends 'apps/base.html' %}

{% block title %}New Review{% endblock %}

{% block content %}
<h3>New Review by {{ reviewer }}</h3>
<form method="POST" enctype="multipart/form-data">   
    {% csrf_token %} 
    <table>
        <tr valign="top">
            <td><b>Reviewer:</b></td>
            <td>{{ init_data.reviewer }}</td>
            <td></td>
        </tr>
        <tr valign="top">
            <td><b>Paper Title:</b></td>
            <td>{{ init_data.paper.title }}</td>
            <td></td>
        </tr>
        <tr valign="top">
            <td><b>Abstract:</b></td>
            <td>{{ init_data.paper.abstract }}</td>
            <td></td>
        </tr>
        <tr valign="top">
            <td><b>Keywords:</b></td>
            <td>{{ init_data.paper.keywords }}</td>
            <td></td>
        </tr>
        {% for field in review_form %}
        <tr valign="top">
            <td><b>{{ field.label_tag }}</b></td>
            <td>{{ field }}</td>
            <td><small style='color:gray;'>{{ field.help_text }}</small></td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit" class="btn btn-success">Add Paper!</button>
</form> 
{% endblock %}