{% extends 'apps/base.html' %}

{% block title %}New Review{% endblock %}

{% block content %}
<h3>New Review by {{ reviewer }}</h3>
<form method="POST" enctype="multipart/form-data">   
    {% csrf_token %} 

    <table>
    {% for field in review_form %}
        <tr>
            <td><b>{{ field.label_tag }}</b></td>
            <td>{{ field }}</td>
            <td>
            {% if field.help_text %}
                <small style='color:gray;'>{{ field.help_text }}</small>    
            {% endif %}
            {% for error in field.errors %}
                <small style='color:red;'>{{ field.help_text }}</small>
            {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
    <button type="submit" class="btn btn-success">Add Paper!</button>
</form> 
{% endblock %}